@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
main {
  margin-top: 10rem;
}
main h2 {
  text-align: center;
  padding: 1rem;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #e8e8e8;
}
#sectors {
  padding: 1rem;
}
.sector {
  background-color: #f05454;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sector:hover {
  transform: scale(1.2);
}
#sectors a {
  text-decoration: none;
}
.sector h4 {
  color: #e8e8e8;
  font-family: "Oleo Script", cursive;
}
#map {
  padding: 2rem;
  width: 96%;
  border-radius: 0.5rem;
  /* box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
  display: flex;
  justify-content: center;
  /* background-color: #222831; */
  position: relative;
  border: none;
}
#map img {
  opacity: 0.4;
}
#map #marker1 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 45%;
  left: 67.5%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker2 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 20%;
  left: 25%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker3 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 55%;
  left: 30%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker4 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 55%;
  left: 50%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker5 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 25%;
  left: 50%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker6 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 75%;
  left: 80%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker7 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 25%;
  left: 77%;
  background-color: #fff;
  animation: highlight 1.5s linear infinite;
}
#map #marker8 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 15%;
  left: 65%;
  background-color: #fff;
  animation: highlight 2s linear infinite;
}
#map #marker8 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 15%;
  left: 65%;
  background-color: #fff;
  animation: highlight 2s linear infinite;
}
#map #marker9 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 40%;
  left: 55%;
  background-color: #fff;
  animation: highlight 2s linear infinite;
}
#map #marker10 {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  top: 10%;
  left: 39%;
  background-color: #fff;
  animation: highlight 2s linear infinite;
}
@keyframes highlight {
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

#social-media {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
#social-media h2 {
  color: #e8e8e8;
}
.social-icon {
  width: 4rem;

  margin: 1rem;
}
