@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  background-color: cadetblue;
}

#navbar {
  z-index: 10000;
  background-color: wheat;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#navbar ul li a:hover {
  background-color: chocolate;
  color: white;
  transition: 0.8s;
}

#hero-spot {
  opacity: 0.9;

  text-align: center;
  margin-top: 7rem;
  padding: 2rem;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Lobster", cursive;
}
#ban {
  border-radius: 1rem;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#vision {
  margin-top: 3rem;
  background-color: white;
}
